Repository takashimamorino/takashimamorino.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, oxlint --fix, sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,css}": ["biome format --write"],
  "*.{js,jsx,ts,tsx}": ["oxlint --fix"],
  "package.json": ["sort-package-json"]
}

Add CLAUDE.md documentation and update configs
  .lintstagedrc.json
  CLAUDE.md
  biome.json
  src/root.tsx
Due: biome format --write, oxlint --fix

Move Tailwind dependencies to production
  bun.lock
  package.json
Due: biome format --write, sort-package-json

Move Tailwind dependencies back to devDependencies
  bun.lock
  package.json
Due: biome format --write, sort-package-json

Add Cloudflare Workers deployment configuration
  bun.lock
  package.json
  src/worker.ts
  wrangler.toml
Due: biome format --write, oxlint --fix, sort-package-json

Add Cloudflare Vite plugin
  bun.lock
  package.json
  vite.config.ts
Due: biome format --write, oxlint --fix, sort-package-json

Remove RSC support and simplify to standard Vite + React setup
  CLAUDE.md
  bun.lock
  index.html
  package.json
  src/App.tsx
  src/framework/entry.browser.tsx
  src/framework/entry.rsc.tsx
  src/framework/entry.ssr.tsx
  src/main.tsx
  src/root.tsx
  src/worker.ts
  vite.config.ts
  wrangler.toml
Due: biome format --write, oxlint --fix, sort-package-json

Add wrangler.jsonc for Cloudflare Pages deployment
  wrangler.jsonc
Due: none

Fix Cloudflare deployment configuration
  package.json
  wrangler.jsonc
Due: biome format --write, sort-package-json

Update App component text
  src/App.tsx
Due: biome format --write, oxlint --fix

Simplify deployment configuration and update app version
  package.json
  src/App.tsx
  wrangler.jsonc
Due: biome format --write, oxlint --fix, sort-package-json

Add blog functionality with markdown posts and routing
  bun.lock
  package.json
  posts/test.md
  src/App.tsx
  src/index.css
  src/lib/posts.ts
  src/routeTree.gen.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/index.lazy.tsx
  src/routes/index.tsx
  src/routes/posts/$slug.lazy.tsx
  src/routes/posts/$slug.tsx
  src/types/blog.ts
  tailwind.config.js
  vite.config.ts
Due: biome format --write, oxlint --fix, sort-package-json

Fix TypeScript configuration for better VSCode support
  tsconfig.json
Due: biome format --write

Update README.md to reflect current project
  README.md
Due: none

Move TailwindCSS dependencies from devDependencies to dependencies
  bun.lock
  package.json
Due: biome format --write, sort-package-json

Add Cloudflare Workers deployment configuration
  bun.lock
  package.json
  worker.js
  wrangler.jsonc
Due: biome format --write, oxlint --fix, sort-package-json
